{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<!-- banner -->
<div class="banner banner10">
    <div class="container">
        <h2>Product Details</h2>
    </div>
</div>
<!-- //banner -->   
<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>Product Details</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->  
<!-- single -->
<div class="single">
    <div class="container">
        <div class="col-md-4 single-left">
            <div class="flexslider">
                <ul class="slides">
                    <li data-thumb="/media/{{photo}}">
                        <div class="thumb-image"> <img src="/media/{{photo}}" data-imagezoom="true" class="img-responsive" alt=""> </div>
                    </li>
                    <li data-thumb="/media/{{photo}}">
                        <div class="thumb-image"> <img src="/media/{{photo}}" data-imagezoom="true" class="img-responsive" alt=""> </div>
                    </li>
                    <li data-thumb="/media/{{photo}}">
                        <div class="thumb-image"> <img src="/media/{{photo}}" data-imagezoom="true" class="img-responsive" alt=""> </div>
                    </li>
                </ul>
            </div>
            <!-- flexslider -->
                <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
                <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
                <script>
                // Can also be used with $(document).ready()
                $(window).load(function() {
                  $('.flexslider').flexslider({
                    animation: "slide",
                    controlNav: "thumbnails"
                  });
                });
                </script>
            <!-- flexslider -->
            <!-- zooming-effect -->
                <script src="{% static 'js/imagezoom.js' %}"></script>
            <!-- //zooming-effect -->
        </div>
        <div class="col-md-8 single-right">
            <h3>{{pname}}</h3>
            <div class="rating1">
                <span class="starRating">
                    <input id="rating5" type="radio" name="rating" value="5">
                    <label for="rating5">5</label>
                    <input id="rating4" type="radio" name="rating" value="4">
                    <label for="rating4">4</label>
                    <input id="rating3" type="radio" name="rating" value="3" checked>
                    <label for="rating3">3</label>
                    <input id="rating2" type="radio" name="rating" value="2">
                    <label for="rating2">2</label>
                    <input id="rating1" type="radio" name="rating" value="1">
                    <label for="rating1">1</label>
                </span>
            </div>
            <div class="description ">
                <h5 class='my-2'><i>Description</i></h5>
                <ul class='text-muted'>
                    {% for i in description %}
                    <li style='margin-top:12px;'>{{i}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="color-quality">
                <!-- <div class="color-quality-left">
                    <h5>Color : </h5>
                    <ul>
                        <li><a href="#"><span></span></a></li>
                        <li><a href="#" class="brown"><span></span></a></li>
                        <li><a href="#" class="purple"><span></span></a></li>
                        <li><a href="#" class="gray"><span></span></a></li>
                    </ul>
                </div>
                <div class="color-quality-right">
                    <h5>Quality :</h5>
                     <div class="quantity"> 
                        <div class="quantity-select">                           
                            <div class="entry value-minus1">&nbsp;</div>
                            <div class="entry value1"><span>1</span></div>
                            <div class="entry value-plus1 active">&nbsp;</div>
                        </div>
                    </div> -->
                    <!--quantity-->
                            <!-- <script>
                            $('.value-plus1').on('click', function(){
                                var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10)+1;
                                divUpd.text(newVal);
                            });

                            $('.value-minus1').on('click', function(){
                                var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10)-1;
                                if(newVal>=1) divUpd.text(newVal);
                            });
                            </script> -->
                        <!--quantity-->

                <!-- </div>
                <div class="clearfix"> </div>
            </div> -->
            <!-- <div class="occasional">
                <h5>RAM :</h5>
                <div class="colr ert">
                    <div class="check">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>3 GB</label>
                    </div>
                </div>
                <div class="colr">
                    <div class="check">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>2 GB</label>
                    </div>
                </div>
                <div class="colr">
                    <div class="check">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>1 GB</label>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div> -->
            <div class="simpleCart_shelfItem">
                <p><span>&#8377; {{price}}</span> <i class="item_price">&#8377; {{sprice}}</i></p>
                <form action="{% url 'myapp:cart'%}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="add" value="1"> 
                    <input type="hidden" name="w3ls_item" value="{{pname}}"> 
                    <input type="hidden" name="amount" value="{{sprice}}">   
                    <input type="hidden" name="item_id" value="{{id}}"/> 
                    <button type="submit" class="w3ls-cart">Add to cart</button>
                </form>
            </div> 
        </div>
        <div class="clearfix"> </div>
    </div>
</div> 
<div class="additional_info">
    <div class="container">
        <div class="sap_tabs">	
            <div id="horizontalTab1" style="display: block; width: 100%; margin: 0px;">
                <ul>
                    <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Product Information</span></li>
                    <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Reviews</span></li>
                </ul>		
                <div class="tab-1 resp-tab-content additional_info_grid" aria-labelledby="tab_item-0">
                    <h3>{{pname}}</h3>
                    <p>{% for i in description%}
                            <span>{{i}}</span>
                        {% endfor%}
                    </p>
                </div>	

                <div class="tab-2 resp-tab-content additional_info_grid" aria-labelledby="tab_item-1">
                    <h4>(2) Reviews</h4>
                    <div class="additional_info_sub_grids">
                        <div class="col-xs-2 additional_info_sub_grid_left">
                            <img src="{% static 'images/t1.png'%}" alt=" " class="img-responsive" />
                        </div>
                        <div class="col-xs-10 additional_info_sub_grid_right">
                            <div class="additional_info_sub_grid_rightl">
                                <a href="">Laura</a>
                                <h5>Oct 06, 2016.</h5>
                                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate 
                                    velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat 
                                    quo voluptas nulla pariatur.</p>
                            </div>
                            <div class="additional_info_sub_grid_rightr">
                                <div class="rating">
                                    <div class="rating-left">
                                        <img src="{% static 'images/star-.png'%}" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="{% static 'images/star-.png'%}" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="{% static 'images/star-.png'%}" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="{% static 'images/star-.png'%}" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="{% static 'images/star-.png'%}" alt=" " class="img-responsive">
                                    </div>
                                    
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="additional_info_sub_grids">
                        <div class="col-xs-2 additional_info_sub_grid_left">
                            <img src="{% static 'images/t2.png'%}" alt=" " class="img-responsive" />
                        </div>
                        <div class="col-xs-10 additional_info_sub_grid_right">
                            <div class="additional_info_sub_grid_rightl">
                                <a href="">Michael</a>
                                <h5>Oct 04, 2016.</h5>
                                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate 
                                    velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat 
                                    quo voluptas nulla pariatur.</p>
                            </div>
                            <div class="additional_info_sub_grid_rightr">
                                <div class="rating">
                                    <div class="rating-left">
                                        <img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rating-left">
                                        <img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive">
                                    </div>
                                    
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="review_grids">
                        <h5>Add A Review</h5>
                        <form action="#" method="post">
                            <input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                            <input type="email" name="Email" placeholder="Email" required="">
                            <input type="text" name="Telephone" value="Telephone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
                            <textarea name="Review" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Add Your Review';}" required="">Add Your Review</textarea>
                            <input type="submit" value="Submit" >
                        </form>
                    </div>
                    {% endif %}
                </div> 			        					            	      
            </div>	
        </div>
        <script src="{% static 'js/easyResponsiveTabs.js'%}" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#horizontalTab1').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion           
                    width: 'auto', //auto or any width like 600px
                    fit: true   // 100% fit in a container
                });
            });
        </script>
    </div>
</div>
<!-- Related Products -->
<div class="w3l_related_products">
        <div class="container">
            <h3>Related Products</h3>
            <ul id="flexiselDemo2">			
                {% for i in rp %}
                <li>
                    <div class="w3l_related_products_grid">
                        <div class="agile_ecommerce_tab_left mobiles_grid">
                            <div class="hs-wrapper hs-wrapper3">
                                <img src="/media/{{i.photo}}" alt=" " height='150' width="90%" class="img-responsive" />
                                <img src="/media/{{i.photo}}" alt=" " height='150' width="90%" class="img-responsive" />
                                <img src="/media/{{i.photo}}" alt=" " height='150' width="90%" class="img-responsive" />
                                <img src="/media/{{i.photo}}" alt=" " height='150' width="90%" class="img-responsive" />
                                <img src="/media/{{i.photo}}" alt=" " height='150' width="90%" class="img-responsive" />
                                <img src="/media/{{i.photo}}" alt=" " height='150' width="90%" class="img-responsive" />
                                
                                <div class="w3_hs_bottom">
                                    <div class="flex_ecommerce">
                                        <a href="#" data-toggle="modal" onclick="myfun('{{i.id}}')" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                            <h5><a href="{% url 'myapp:singleproduct'%}?singlep={{i.id}}">{{i.product_name}}</a></h5>
                            <div class="simpleCart_shelfItem"> 
                                <p class="flexisel_ecommerce_cart"><span>&#8377;{{i.price}}</span> <i class="item_price">&#8377;{{i.sale_price}}</i></p>
                                <form action="{% url 'myapp:cart'%}" method="post">
                                    <input type="hidden" name="add" value="1"> 
                                    <input type="hidden" name="w3ls_item" value="{{i.product_name}}" /> 
                                    <input type="hidden" name="amount" value="{{i.sale_price}}"/>   
                                    <input type="hidden" name="item_id" value="{{i.id}}"/>    
                                    <button type="submit" class="w3ls-cart">Add to cart</button>
                                </form> 
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            
                <script type="text/javascript">
                    $(window).load(function() {
                        $("#flexiselDemo2").flexisel({
                            visibleItems:4,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,    		
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: { 
                                portrait: { 
                                    changePoint:568,
                                    visibleItems: 1
                                }, 
                                landscape: { 
                                    changePoint:667,
                                    visibleItems:2
                                },
                                tablet: { 
                                    changePoint:768,
                                    visibleItems: 3
                                }
                            }
                        });
                        
                    });
                </script>
                <script type="text/javascript" src="{% static 'js/jquery.flexisel.js'%}"></script>
        </div>
    </div> 
    <!-- //Related Products -->

{% endblock %}